# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
*.egg-info/

# Virtual Environment
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Data and models
base/
result/
*.pth
*.pth.tar
*.h5
*.hdf5
*.pt
*.bin

# Jupyter Notebook
.ipynb_checkpoints

# Logs and databases
*.log
*.sql
*.sqlite

# Environment variables
.env
